<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false"
    bootstrap="./Tests/Unit/autoload.php"
>
    <php>
        <env name="APP_ENV" value="test" />
        <env name="LEMON_WAY_BASE_URL" value="" />
        <env name="LEMON_WAY_BASIC_TOKEN" value="" />
        <server name="KERNEL_CLASS" value="Mpp\LemonWayClientBundle\Tests\TestKernel" />
    </php>

    <testsuites>
        <testsuite name="MPP lemon way client bundle unit test suite">
            <directory suffix="Test.php">./Tests/Unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
